@model IEnumerable<My_Pie_Shop.Models.Category>

@{
    ViewData["Title"] = "AllCategories";
}

<h1>All Categories</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Edit Category</a> |
                @*<a asp-action="RemoveCategory" asp-route-id="@item.CategoryId">Delete Category</a>*@
                <a asp-controller="Pie" asp-action="RemoveCategory" asp-route-id="@item.CategoryId"> Delete Category</a>
                @*<a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                *@
            </td>
        </tr>
}
    </tbody>
</table>
<div>    
   <p class="button">
      <a class="btn btn-primary" 
         asp-controller="Pie" 
         asp-action="CreateCategory">Create New Category</a>
   </p>
</div>
