@using My_Pie_Shop.ViewModels
@model PieListViewModel

@*@model IEnumerable<My_Pie_Shop.Models.Pie>*@

<h1 align = "center"> <u><i> CHEESE CAKES  </i> </u> </h1>

<div class="row">
    @foreach(var pie in Model.Pies)
    {
       @* <div>
            <h1>@pie.Name </h1>
            <h2>@pie.Price.ToString() </h2>
            <h3>@pie.Category.CategoryName </h3>
        </div>*@

		
        <div class="col-sm-4 col-lg-4 col-md-4">
	        <div class="thumbnail">
		        <img src="@pie.ImageThumbnailUrl" alt="">
		        <div class="caption">
			        <h3 class="pull-right">Rs.@pie.Price.ToString()</h3>
			        <h3>
				        <a asp-controller ="Pie" asp-action="Details" asp-route-id=@pie.PieId>@pie.Name</a>
			        </h3>
					<h6>Category: @pie.Category.CategoryName</h6>
			        <p>@pie.ShortDescription</p>
		        </div>
	        </div>
        </div>

	}
</div>