@model IEnumerable<My_Pie_Shop.Models.Cart>

@{
    ViewData["Title"] = "ViewCart";
}

<h1>ViewCart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PiePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PiePrice)
            </td>
            
            <td>
                <a asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.CartId"><h4 style="display:inline-block">-</h4></a>
                 @Html.DisplayFor(modelItem => item.Quantity)
                <a asp-controller="Cart" asp-action="Increase" asp-route-id="@item.CartId"><h4 style="display:inline-block">+</h4></a>
            </td>
            <td>                
                <a asp-action="Remove" asp-route-id="@item.CartId">Delete Item</a>
            </td>
        </tr>
}
    </tbody>
</table>
